#station_icons {
  cursor: default;
}

#station_icons use,
#station_icons g,
#station_icons path {
  cursor: pointer;
}

.checkmark {
  font-size: 12px;
  pointer-events: none;
}

.info-button-container {
  display: flex;
  justify-content: center;
}

.stats-button {
  padding-top: 40px;
}

#stats {
  padding-top: 40px;
}

